In [1]:
import pandas as pd

mount the drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Load the dataset

In [3]:
load_dataset =pd.read_csv('/content/drive/MyDrive/PDS_Assignment2/train.csv')
load_dataset.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

#b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”). (4 points)

In [4]:
load_dataset['Mileage'] = load_dataset['Mileage'].str.extract(r'(\d+\.?\d*)')[0].astype(float)
load_dataset['Engine'] = load_dataset['Engine'].str.replace(' CC', '', regex=False).astype(float)
load_dataset['Power'] = load_dataset['Power'].str.replace(' bhp', '', regex=False).astype(float)

In [5]:
load_dataset['New_Price'] = pd.to_numeric(load_dataset['New_Price'].str.replace(' lakh', '', regex=False), errors='coerce')

In [6]:
load_dataset[['Mileage', 'Engine', 'Power', 'New_Price']].head(15)

    Mileage  Engine   Power  New_Price
0     19.67  1582.0  126.20        NaN
1     13.00  1199.0   88.70        NaN
2     20.77  1248.0   88.76        NaN
3     15.20  1968.0  140.80        NaN
4     23.08  1461.0   63.10        NaN
5     11.36  2755.0  171.50        NaN
6     20.54  1598.0  103.60        NaN
7     22.30  1248.0   74.00        NaN
8     21.56  1462.0  103.25        NaN
9     16.80  1497.0  116.30        NaN
10    25.20  1248.0   74.00        NaN
11    12.70  2179.0  187.70        NaN
12     0.00  2179.0  115.00        NaN
13    13.50  2477.0  175.56        NaN
14    25.80  1498.0   98.60        NaN

In [7]:
# Save the updated dataset to a CSV file
load_dataset.to_csv('afterTask2.csv', index=False)

#a)  Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

check for null values.

In [8]:
load_dataset.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5847
Price                   0
dtype: int64

In [9]:
load_dataset.dtypes

Unnamed: 0             int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage              float64
Engine               float64
Power                float64
Seats                float64
New_Price            float64
Price                float64
dtype: object

In [10]:
load_dataset.shape

(5847, 14)

In [11]:
load_dataset.describe()

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price
count,5847.000000,5847.000000,5.847000e+03,5845.000000,5811.000000,5811.000000,5809.000000,0.0,5847.000000
mean,3013.181461,2013.448435,5.841013e+04,18.158496,1631.552573,113.803144,5.286452,NaN,9.653742
std,1736.398890,3.194949,9.237971e+04,4.358246,601.972587,53.896719,0.806668,NaN,11.275966
min,1.000000,1998.000000,1.710000e+02,0.000000,72.000000,34.200000,2.000000,NaN,0.440000
25%,1509.500000,2012.000000,3.346750e+04,15.260000,1198.000000,78.000000,5.000000,NaN,3.550000
50%,3015.000000,2014.000000,5.257600e+04,18.190000,1497.000000,98.600000,5.000000,NaN,5.750000
75%,4517.500000,2016.000000,7.249050e+04,21.100000,1991.000000,139.010000,5.000000,NaN,10.250000
max,6018.000000,2019.000000,6.500000e+06,28.400000,5998.000000,560.000000,10.000000,NaN,160.000000

In [12]:
#Impute missing values
load_dataset['Seats'].fillna(load_dataset['Seats'].mean())

0       5.0
1       5.0
2       7.0
3       5.0
4       5.0
       ...
5842    5.0
5843    5.0
5844    8.0
5845    5.0
5846    5.0
Name: Seats, Length: 5847, dtype: float64

In [13]:
load_dataset['Mileage'].fillna(load_dataset['Mileage'].median())
load_dataset['Engine'].fillna(load_dataset['Engine'].median())
load_dataset['Power'].fillna(load_dataset['Power'].median())

0       126.20
1        88.70
2        88.76
3       140.80
4        63.10
         ...
5842     74.00
5843     71.00
5844    112.00
5845     67.10
5846     57.60
Name: Power, Length: 5847, dtype: float64

In [14]:
load_dataset.drop(columns=['New_Price'], inplace=True)

In [15]:
load_dataset.isnull().sum()

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                38
Price                 0
dtype: int64

In [16]:
load_dataset.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [17]:
# Save the updated dataset to a CSV file
load_dataset.to_csv('afterDataCleaning.csv', index=False)

#C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.  (4 points).

In [18]:
fuel=load_dataset['Fuel_Type'].unique()
transmission=load_dataset['Transmission'].unique()
print(fuel)
print(transmission)

['Diesel' 'Petrol' 'Electric']
['Manual' 'Automatic']

In [19]:
load_dataset = pd.get_dummies(load_dataset, columns=['Fuel_Type', 'Transmission'], drop_first=True, dtype=int)
load_dataset.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,0,0,1
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,17.50,0,0,0
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,5.20,0,0,1
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,1.95,0,0,1
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,9.95,0,1,1
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,4.49,0,1,0

In [20]:
# Save the updated dataset to a CSV file
load_dataset.to_csv('encodedData.csv', index=False)

#d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.   (4 points)

we can categorize cars into mileage groups (e.g., Low, Medium, High) based on their mileage

In [21]:
# Define mileage range
ranges = [0, 15, 20, 25, float('inf')]
labels = ['Low', 'Medium', 'High', 'Very High']

load_dataset['Mileage_Category'] = pd.cut(load_dataset['Mileage'], bins=ranges, labels=labels)
load_dataset[['Mileage','Mileage_Category']].head(10)

   Mileage Mileage_Category
0    19.67           Medium
1    13.00              Low
2    20.77             High
3    15.20           Medium
4    23.08             High
5    11.36              Low
6    20.54             High
7    22.30             High
8    21.56             High
9    16.80           Medium

In [22]:
# Save the updated dataset to a CSV file
load_dataset.to_csv('FeatureAdded.csv', index=False)

#e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset. (4 points)

1.select

In [25]:
cols = load_dataset[['Name', 'Year', 'Mileage', 'Price','Owner_Type','Price','Seats','Power','Mileage_Category']] #select operation
cols

,Name,Year,Mileage,Price,Owner_Type,Price,Seats,Power,Mileage_Category
0,Hyundai Creta 1.6 CRDi SX Option,2015,19.67,12.50,First,12.50,5.0,126.20,Medium
1,Honda Jazz V,2011,13.00,4.50,First,4.50,5.0,88.70,Low
2,Maruti Ertiga VDI,2012,20.77,6.00,First,6.00,7.0,88.76,High
3,Audi A4 New 2.0 TDI Multitronic,2013,15.20,17.74,Second,17.74,5.0,140.80,Medium
4,Nissan Micra Diesel XV,2013,23.08,3.50,First,3.50,5.0,63.10,High
...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,2014,28.40,4.75,First,4.75,5.0,74.00,Very High
5843,Hyundai Xcent 1.1 CRDi S,2015,24.40,4.00,First,4.00,5.0,71.00,High
5844,Mahindra Xylo D4 BSIV,2012,14.00,2.90,Second,2.90,8.0,112.00,Low
5845,Maruti Wagon R VXI,2013,18.90,2.65,First,2.65,5.0,67.10,Medium
5846,Chevrolet Beat Diesel,2011,25.44,2.50,First,2.50,5.0,57.60,Very High

2.Filter

In [26]:
rows_filetered = load_dataset[(load_dataset['Owner_Type'] == 'First') & (load_dataset['Price'] > 25)]#Filtering cars that are 'First' owner type and have a price greater than 25
rows_filetered

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Mileage_Category
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.70,2179.0,187.70,5.0,27.00,0,0,0,Low
17,19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84,2143.0,167.62,5.0,28.00,0,0,0,Low
36,38,Mercedes-Benz M-Class ML 350 CDI,Pune,2013,85000,First,11.74,2987.0,254.80,5.0,28.00,0,0,0,Low
60,62,Mercedes-Benz New C-Class C 200 CGI Avantgarde,Delhi,2015,58000,First,11.74,1796.0,186.00,5.0,26.70,0,1,0,Low
65,67,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,First,0.00,1950.0,194.00,5.0,35.67,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5754,5921,Mercedes-Benz E-Class 2015-2017 E250 CDI Avant...,Mumbai,2016,21000,First,13.00,2143.0,204.00,5.0,36.00,0,0,0,Low
5759,5927,Audi Q5 3.0 TDI Quattro Technology,Coimbatore,2018,29091,First,13.22,2967.0,241.40,5.0,45.52,0,0,0,Low
5776,5946,BMW 5 Series 2013-2017 530d M Sport,Bangalore,2016,16000,First,14.69,2993.0,258.00,5.0,48.00,0,0,0,Low
5800,5970,Mercedes-Benz GLA Class 200 Sport,Kochi,2018,17773,First,13.70,1991.0,183.00,5.0,26.76,0,1,0,Low
5825,5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,First,16.36,2179.0,187.70,5.0,30.54,0,0,0,Medium

3.Rename columns

In [27]:
cols = load_dataset.rename(columns=lambda x: {'Power': 'Horsepower', 'Seats': 'Num_Seats'}.get(x, x))
cols

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Horsepower,Num_Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Mileage_Category
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,0,0,1,Medium
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,1,Low
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,0,0,1,High
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,0,0,0,Medium
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,0,0,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,0,0,1,Very High
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,0,0,1,High
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,0,0,1,Low
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,0,1,1,Medium
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,0,0,1,Very High

4.mutate

In [28]:
cols['Horsepower'] = cols['Horsepower'] * 1.34102  # 1 kW = 1.34102 BHP
cols['Horsepower']

0       169.236724
1       118.948474
2       119.028935
3       188.815616
4        84.618362
           ...
5842     99.235480
5843     95.212420
5844    150.194240
5845     89.982442
5846     77.242752
Name: Horsepower, Length: 5847, dtype: float64

5.Arrange

In [29]:
cols = cols.sort_values(by=['Mileage', 'Year'], ascending=[False, True]) #Arrange by Mileage (descending) and Year (ascending)
cols[['Mileage','Year']]

      Mileage  Year
1703     28.4  2008
2361     28.4  2011
864      28.4  2012
1933     28.4  2012
3074     28.4  2012
...       ...   ...
65        0.0  2019
524       0.0  2019
5712      0.0  2019
4762      NaN  2011
4313      NaN  2016

[5847 rows x 2 columns]

6.Summarize

In [32]:
# Group by 'Owner_Type' and calculating  mean price and mileage
summarized_data = cols.groupby('Owner_Type').agg(
    Average_Price=('Price', 'mean'),
    Average_Mileage=('Mileage', 'mean')
).reset_index()
summarized_data

       Owner_Type  Average_Price  Average_Mileage
0           First      10.105076        18.454311
1  Fourth & Above       3.415000        13.862500
2          Second       7.839719        16.914411
3           Third       5.348058        15.853398

In [33]:
# Save the updated dataset to a CSV file
cols.to_csv('Operations.csv', index=False)